keys/*

node_modules
.vscode
config/connection.js
config/keys/*-jwt
config/keys/*.pem
.config
createDigest.js
queryTest.js
app/routes/hooks.js

coverage/

built/

.DS_Store

.clinic/
node_modules
node_modules
